<a href="https://colab.research.google.com/github/SavixDR/Datastorm_semiFinals/blob/main/SemiFinals_Datatstorm_BeastTrio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount("/content/drive/")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
week = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data Storm Semi/week_data.csv',low_memory=False)
sales = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data Storm Semi/sales_data.csv',low_memory=False)
product = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data Storm Semi/product_data.csv',low_memory=False)
outlet = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data Storm Semi/outlets_data.csv',low_memory=False)
freezer = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data Storm Semi/freezer_data.csv',low_memory=False)

In [ ]:
week.head(20)

       Week Start Date   End Date
0    Week 1   1/2/2023   1/8/2023
1    Week 2   1/9/2023  1/15/2023
2    Week 3  1/16/2023  1/22/2023
3    Week 4  1/23/2023  1/29/2023
4    Week 5  1/30/2023   2/5/2023
5    Week 6   2/6/2023  2/12/2023
6    Week 7  2/13/2023  2/19/2023
7    Week 8  2/20/2023  2/26/2023
8    Week 9  2/27/2023   3/5/2023
9   Week 10   3/6/2023  3/12/2023
10  Week 11  3/13/2023  3/19/2023
11  Week 12  3/20/2023  3/26/2023

In [ ]:
sales.head(20)

   Outlet_ID  week  pid              product_name  no_units
0     ID7203     1  IP1         Vanilla Mini Cone     874.0
1     ID7203     1  IP2      Chocolate Petite Bar     105.0
2     ID7203     1  IP3       Strawberry Tiny Cup    1198.0
3     ID7203     1  IP4        Mint Bite-size Pop     502.0
4     ID7203     1  IP5  Butter Pecan Small Stick     710.0
5     ID7203     2  IP1         Vanilla Mini Cone     644.0
6     ID7203     2  IP2      Chocolate Petite Bar     265.0
7     ID7203     2  IP3       Strawberry Tiny Cup    1106.0
8     ID7203     2  IP4        Mint Bite-size Pop     387.0
9     ID7203     3  IP1         Vanilla Mini Cone     600.0
10    ID7203     3  IP2      Chocolate Petite Bar     638.0
11    ID7203     3  IP3       Strawberry Tiny Cup     108.0
12    ID7203     3  IP4        Mint Bite-size Pop     703.0
13    ID7203     3  IP5  Butter Pecan Small Stick     756.0
14    ID7203     4  IP1         Vanilla Mini Cone     106.0
15    ID7203     4  IP2      Chocolate Petite Bar     622.0
16    ID7203     4  IP3       Strawberry Tiny Cup     757.0
17    ID7203     4  IP5  Butter Pecan Small Stick    1098.0
18    ID7203     5  IP1         Vanilla Mini Cone     775.0
19    ID7203     5  IP2      Chocolate Petite Bar    1090.0

Without dropping the duplicates it makes sense to get the sum of the duplicates.

In [ ]:
sales_grouped = sales.groupby(['Outlet_ID', 'week', 'product_name']).sum().reset_index()

<ipython-input-224-0e6035ecd65e>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sales_grouped = sales.groupby(['Outlet_ID', 'week', 'product_name']).sum().reset_index()

In [ ]:
sales_grouped.head()

  Outlet_ID  week              product_name  no_units
0    ID1008     1  Butter Pecan Small Stick     809.0
1    ID1008     1      Chocolate Petite Bar    1092.0
2    ID1008     1        Mint Bite-size Pop     752.0
3    ID1008     1       Strawberry Tiny Cup     921.0
4    ID1008     1         Vanilla Mini Cone     416.0

In [ ]:
product.head()

   pid  volume              product_name  price
0  IP1     0.2         Vanilla Mini Cone    100
1  IP2     0.2      Chocolate Petite Bar     90
2  IP3     0.2       Strawberry Tiny Cup    110
3  IP4     0.2        Mint Bite-size Pop    100
4  IP5     0.2  Butter Pecan Small Stick    100

In [ ]:
outlet.head()

  Outlet_ID  area(sqft)
0    ID7203        5660
1    ID1878        4138
2    ID1740        5546
3    ID4366        5134
4    ID8358        4100

In [ ]:
freezer.head(20)

,Freezer Name,Model Number,Volume Capacity (Liters),Power and maitainance Cost (LKR) per 100 hours
0,ChillMaster,M001,55,2500
1,FreezeZone,M002,75,2800
2,CoolTech,M003,120,3200
3,mini CoolTech,M004,30,1800
4,IceBlast Pro,M005,150,3500
5,IceBlast,M006,65,2700
6,FreezeTech,M007,100,3000
7,FreezeTech 3.0,M008,25,1600
8,ChillTech,M009,80,2800
9,IceTech,M010,200,4500

In [ ]:


# merge the datasets on the product_name column
sales_df = sales.merge(product, on="pid")

# calculate the total volume and total price
sales_df["total_volume"] = sales_df["no_units"] * sales_df["volume"]
sales_df["total_price"] = sales_df["no_units"] * sales_df["price"]

sales_df.head(20)

,Outlet_ID,week,pid,product_name_x,no_units,volume,product_name_y,price,total_volume,total_price
0,ID7203,1,IP1,Vanilla Mini Cone,874.0,0.2,Vanilla Mini Cone,100,174.8,87400.0
1,ID7203,2,IP1,Vanilla Mini Cone,644.0,0.2,Vanilla Mini Cone,100,128.8,64400.0
2,ID7203,3,IP1,Vanilla Mini Cone,600.0,0.2,Vanilla Mini Cone,100,120.0,60000.0
3,ID7203,4,IP1,Vanilla Mini Cone,106.0,0.2,Vanilla Mini Cone,100,21.2,10600.0
4,ID7203,5,IP1,Vanilla Mini Cone,775.0,0.2,Vanilla Mini Cone,100,155.0,77500.0
5,ID7203,6,IP1,Vanilla Mini Cone,713.0,0.2,Vanilla Mini Cone,100,142.6,71300.0
6,ID7203,7,IP1,Vanilla Mini Cone,224.0,0.2,Vanilla Mini Cone,100,44.8,22400.0
7,ID7203,8,IP1,Vanilla Mini Cone,993.0,0.2,Vanilla Mini Cone,100,198.6,99300.0
8,ID7203,10,IP1,Vanilla Mini Cone,262.0,0.2,Vanilla Mini Cone,100,52.4,26200.0
9,ID7203,11,IP1,Vanilla Mini Cone,644.0,0.2,Vanilla Mini Cone,100,128.8,64400.0
10,ID7203,12,IP1,Vanilla Mini Cone,526.0,0.2,Vanilla Mini Cone,100,105.2,52600.0
11,ID1878,1,IP1,Vanilla Mini Cone,918.0,0.2,Vanilla Mini Cone,100,183.6,91800.0
12,ID1878,2,IP1,Vanilla Mini Cone,142.0,0.2,Vanilla Mini Cone,100,28.4,14200.0
13,ID1878,3,IP1,Vanilla Mini Cone,579.0,0.2,Vanilla Mini Cone,100,115.8,57900.0
14,ID1878,4,IP1,Vanilla Mini Cone,824.0,0.2,Vanilla Mini Cone,100,164.8,82400.0
15,ID1878,5,IP1,Vanilla Mini Cone,690.0,0.2,Vanilla Mini Cone,100,138.0,69000.0
16,ID1878,6,IP1,Vanilla Mini Cone,579.0,0.2,Vanilla Mini Cone,100,115.8,57900.0
17,ID1878,7,IP1,Vanilla Mini Cone,379.0,0.2,Vanilla Mini Cone,100,75.8,37900.0
18,ID1878,8,IP1,Vanilla Mini Cone,1156.0,0.2,Vanilla Mini Cone,100,231.2,115600.0
19,ID1878,9,IP1,Vanilla Mini Cone,298.0,0.2,Vanilla Mini Cone,100,59.6,29800.0

In [ ]:
sales_df=sales_df.drop(['no_units','volume','product_name_y','price','product_name_x'],axis = 1)

In [ ]:
grouped = sales_df.groupby(['Outlet_ID', 'week', 'pid'])
grouped.head()

      Outlet_ID  week  pid  total_volume  total_price
0        ID7203     1  IP1         174.8      87400.0
1        ID7203     2  IP1         128.8      64400.0
2        ID7203     3  IP1         120.0      60000.0
3        ID7203     4  IP1          21.2      10600.0
4        ID7203     5  IP1         155.0      77500.0
...         ...   ...  ...           ...          ...
80995    ID8207     6  BP5          68.0      74800.0
80996    ID8207     7  BP5          62.0      68200.0
80997    ID8207     9  BP5          68.0      74800.0
80998    ID8207    11  BP5          37.0      40700.0
80999    ID8207    12  BP5          73.0      80300.0

[81000 rows x 5 columns]

In [ ]:
filtered = sales_df[sales_df["Outlet_ID"]=="ID1008"]
print(filtered)

      Outlet_ID  week  pid  total_volume  total_price
764      ID1008     1  IP1          83.2      41600.0
765      ID1008     2  IP1         239.6     119800.0
766      ID1008     3  IP1         218.4     109200.0
767      ID1008     4  IP1         142.2      71100.0
768      ID1008     5  IP1          27.2      13600.0
769      ID1008     6  IP1          32.4      16200.0
770      ID1008     7  IP1         117.8      58900.0
771      ID1008     8  IP1          20.4      10200.0
772      ID1008     9  IP1          56.0      28000.0
773      ID1008    10  IP1         185.6      92800.0
774      ID1008    11  IP1          36.2      18100.0
775      ID1008    12  IP1         235.0     117500.0
8830     ID1008     1  IP2         218.4      98280.0
8831     ID1008     2  IP2          80.8      36360.0
8832     ID1008     3  IP2          65.0      29250.0
8833     ID1008     4  IP2          38.2      17190.0
8834     ID1008     5  IP2          26.6      11970.0
8835     ID1008     6  IP2         168.6      75870.0
8836     ID1008     7  IP2          52.6      23670.0
8837     ID1008     8  IP2         105.6      47520.0
8838     ID1008     9  IP2         185.4      83430.0
8839     ID1008    10  IP2         120.4      54180.0
8840     ID1008    11  IP2         225.0     101250.0
8841     ID1008    12  IP2         154.6      69570.0
16898    ID1008     1  IP3         184.2     101310.0
16899    ID1008     2  IP3         141.4      77770.0
16900    ID1008     3  IP3         134.0      73700.0
16901    ID1008     4  IP3         122.0      67100.0
16902    ID1008     5  IP3          98.4      54120.0
16903    ID1008     6  IP3          27.2      14960.0
16904    ID1008     7  IP3         237.2     130460.0
16905    ID1008     8  IP3         183.8     101090.0
16906    ID1008    10  IP3          88.8      48840.0
16907    ID1008    12  IP3          40.0      22000.0
25052    ID1008     1  IP4         150.4      75200.0
25053    ID1008     2  IP4          77.8      38900.0
25054    ID1008     3  IP4         136.6      68300.0
25055    ID1008     4  IP4         159.6      79800.0
25056    ID1008     5  IP4         152.2      76100.0
25057    ID1008     6  IP4         111.4      55700.0
25058    ID1008     8  IP4         159.0      79500.0
25059    ID1008     9  IP4          59.0      29500.0
25060    ID1008    10  IP4          70.0      35000.0
25061    ID1008    11  IP4         141.4      70700.0
25062    ID1008    12  IP4          79.8      39900.0
33112    ID1008     1  IP5         161.8      80900.0
33113    ID1008     2  IP5         119.0      59500.0
33114    ID1008     3  IP5         164.0      82000.0
33115    ID1008     4  IP5          76.2      38100.0
33116    ID1008     6  IP5          61.8      30900.0
33117    ID1008     7  IP5          39.2      19600.0
33118    ID1008     8  IP5          34.8      17400.0
33119    ID1008     9  IP5         197.6      98800.0
33120    ID1008    10  IP5          35.6      17800.0
33121    ID1008    11  IP5         172.4      86200.0
33122    ID1008    12  IP5         148.6      74300.0

In [ ]:
print(filtered[filtered["week"]==1])

      Outlet_ID  week  pid  total_volume  total_price
764      ID1008     1  IP1          83.2      41600.0
8830     ID1008     1  IP2         218.4      98280.0
16898    ID1008     1  IP3         184.2     101310.0
25052    ID1008     1  IP4         150.4      75200.0
33112    ID1008     1  IP5         161.8      80900.0

In [ ]:
total_volume = grouped['total_volume'].sum()

df_total_volume = pd.DataFrame(total_volume).reset_index()

df_total_volume_pivot = df_total_volume.pivot(index=['Outlet_ID', 'week'], columns='pid', values='total_volume')

In [ ]:
total_price = grouped['total_price'].sum()

df_total_price = pd.DataFrame(total_price).reset_index()

df_total_price_pivot = df_total_price.pivot(index=['Outlet_ID', 'week'], columns='pid', values='total_price')

In [ ]:
df_total_volume_pivot.head(20)

pid              BP1   BP2   BP3   BP4   BP5    IP1    IP2    IP3    IP4  \
Outlet_ID week
ID1008    1      NaN   NaN   NaN   NaN   NaN   83.2  218.4  184.2  150.4
          2      NaN   NaN   NaN   NaN   NaN  239.6   80.8  141.4   77.8
          3      NaN   NaN   NaN   NaN   NaN  218.4   65.0  134.0  136.6
          4      NaN   NaN   NaN   NaN   NaN  142.2   38.2  122.0  159.6
          5      NaN   NaN   NaN   NaN   NaN   27.2   26.6   98.4  152.2
          6      NaN   NaN   NaN   NaN   NaN   32.4  168.6   27.2  111.4
          7      NaN   NaN   NaN   NaN   NaN  117.8   52.6  237.2    NaN
          8      NaN   NaN   NaN   NaN   NaN   20.4  105.6  183.8  159.0
          9      NaN   NaN   NaN   NaN   NaN   56.0  185.4    NaN   59.0
          10     NaN   NaN   NaN   NaN   NaN  185.6  120.4   88.8   70.0
          11     NaN   NaN   NaN   NaN   NaN   36.2  225.0    NaN  141.4
          12     NaN   NaN   NaN   NaN   NaN  235.0  154.6   40.0   79.8
ID1012    1     44.0  31.0  52.0  70.0   NaN    NaN    NaN    NaN    NaN
          2     48.0  31.0  90.0  88.0  99.0    NaN    NaN    NaN    NaN
          3     75.0  88.0  24.0  21.0   NaN    NaN    NaN    NaN    NaN
          4     28.0  36.0  73.0  95.0  60.0    NaN    NaN    NaN    NaN
          5     41.0  82.0  86.0  23.0  53.0    NaN    NaN    NaN    NaN
          6     45.0  97.0  34.0  22.0  88.0    NaN    NaN    NaN    NaN
          7     55.0  86.0  87.0   NaN  70.0    NaN    NaN    NaN    NaN
          8     91.0  77.0  87.0  64.0   NaN    NaN    NaN    NaN    NaN

pid               IP5
Outlet_ID week
ID1008    1     161.8
          2     119.0
          3     164.0
          4      76.2
          5       NaN
          6      61.8
          7      39.2
          8      34.8
          9     197.6
          10     35.6
          11    172.4
          12    148.6
ID1012    1       NaN
          2       NaN
          3       NaN
          4       NaN
          5       NaN
          6       NaN
          7       NaN
          8       NaN

In [ ]:
df_total_price_pivot.head(20)

pid                  BP1       BP2       BP3      BP4       BP5       IP1  \
Outlet_ID week
ID1008    1          NaN       NaN       NaN      NaN       NaN   41600.0
          2          NaN       NaN       NaN      NaN       NaN  119800.0
          3          NaN       NaN       NaN      NaN       NaN  109200.0
          4          NaN       NaN       NaN      NaN       NaN   71100.0
          5          NaN       NaN       NaN      NaN       NaN   13600.0
          6          NaN       NaN       NaN      NaN       NaN   16200.0
          7          NaN       NaN       NaN      NaN       NaN   58900.0
          8          NaN       NaN       NaN      NaN       NaN   10200.0
          9          NaN       NaN       NaN      NaN       NaN   28000.0
          10         NaN       NaN       NaN      NaN       NaN   92800.0
          11         NaN       NaN       NaN      NaN       NaN   18100.0
          12         NaN       NaN       NaN      NaN       NaN  117500.0
ID1012    1      52800.0   34100.0   59800.0  70000.0       NaN       NaN
          2      57600.0   34100.0  103500.0  88000.0  108900.0       NaN
          3      90000.0   96800.0   27600.0  21000.0       NaN       NaN
          4      33600.0   39600.0   83950.0  95000.0   66000.0       NaN
          5      49200.0   90200.0   98900.0  23000.0   58300.0       NaN
          6      54000.0  106700.0   39100.0  22000.0   96800.0       NaN
          7      66000.0   94600.0  100050.0      NaN   77000.0       NaN
          8     109200.0   84700.0  100050.0  64000.0       NaN       NaN

pid                  IP2       IP3      IP4      IP5
Outlet_ID week
ID1008    1      98280.0  101310.0  75200.0  80900.0
          2      36360.0   77770.0  38900.0  59500.0
          3      29250.0   73700.0  68300.0  82000.0
          4      17190.0   67100.0  79800.0  38100.0
          5      11970.0   54120.0  76100.0      NaN
          6      75870.0   14960.0  55700.0  30900.0
          7      23670.0  130460.0      NaN  19600.0
          8      47520.0  101090.0  79500.0  17400.0
          9      83430.0       NaN  29500.0  98800.0
          10     54180.0   48840.0  35000.0  17800.0
          11    101250.0       NaN  70700.0  86200.0
          12     69570.0   22000.0  39900.0  74300.0
ID1012    1          NaN       NaN      NaN      NaN
          2          NaN       NaN      NaN      NaN
          3          NaN       NaN      NaN      NaN
          4          NaN       NaN      NaN      NaN
          5          NaN       NaN      NaN      NaN
          6          NaN       NaN      NaN      NaN
          7          NaN       NaN      NaN      NaN
          8          NaN       NaN      NaN      NaN

In [ ]:
df_total_price_pivot["Total_bulk_price_week"] = df_total_price_pivot.loc[:,"BP1":"BP5"].sum(axis=1)
df_total_price_pivot["Total_impulse_price_week"] = df_total_price_pivot.loc[:,"IP1":"IP5"].sum(axis=1)

In [ ]:
df_total_price_pivot.head()

pid             BP1  BP2  BP3  BP4  BP5       IP1      IP2       IP3      IP4  \
Outlet_ID week
ID1008    1     NaN  NaN  NaN  NaN  NaN   41600.0  98280.0  101310.0  75200.0
          2     NaN  NaN  NaN  NaN  NaN  119800.0  36360.0   77770.0  38900.0
          3     NaN  NaN  NaN  NaN  NaN  109200.0  29250.0   73700.0  68300.0
          4     NaN  NaN  NaN  NaN  NaN   71100.0  17190.0   67100.0  79800.0
          5     NaN  NaN  NaN  NaN  NaN   13600.0  11970.0   54120.0  76100.0

pid                 IP5  Total_bulk_price_week  Total_impulse_price_week
Outlet_ID week
ID1008    1     80900.0                    0.0                  397290.0
          2     59500.0                    0.0                  332330.0
          3     82000.0                    0.0                  362450.0
          4     38100.0                    0.0                  273290.0
          5         NaN                    0.0                  155790.0

In [ ]:
grouped2 = sales_df.groupby(['Outlet_ID','week'])

In [ ]:
total_price = grouped2['total_price'].sum()

df_total_price = pd.DataFrame(total_price).reset_index()

In [ ]:
df_total_price.head()

  Outlet_ID  week  total_price
0    ID1008     1     397290.0
1    ID1008     2     332330.0
2    ID1008     3     362450.0
3    ID1008     4     273290.0
4    ID1008     5     155790.0

In [ ]:
df_total_volume_pivot = df_total_volume_pivot.merge(df_total_price[['Outlet_ID', 'week', 'total_price']], on=['Outlet_ID', 'week'])

In [ ]:
df_total_volume_pivot = df_total_volume_pivot.merge(df_total_price_pivot[['Total_bulk_price_week', 'Total_impulse_price_week']], on=['Outlet_ID','week'])

In [ ]:
df_total_volume_pivot.head(20)

,Outlet_ID,week,BP1,BP2,BP3,BP4,BP5,IP1,IP2,IP3,IP4,IP5,total_price,Total_bulk_price_week,Total_impulse_price_week
0,ID1008,1,NaN,NaN,NaN,NaN,NaN,83.2,218.4,184.2,150.4,161.8,397290.0,0.0,397290.0
1,ID1008,2,NaN,NaN,NaN,NaN,NaN,239.6,80.8,141.4,77.8,119.0,332330.0,0.0,332330.0
2,ID1008,3,NaN,NaN,NaN,NaN,NaN,218.4,65.0,134.0,136.6,164.0,362450.0,0.0,362450.0
3,ID1008,4,NaN,NaN,NaN,NaN,NaN,142.2,38.2,122.0,159.6,76.2,273290.0,0.0,273290.0
4,ID1008,5,NaN,NaN,NaN,NaN,NaN,27.2,26.6,98.4,152.2,NaN,155790.0,0.0,155790.0
5,ID1008,6,NaN,NaN,NaN,NaN,NaN,32.4,168.6,27.2,111.4,61.8,193630.0,0.0,193630.0
6,ID1008,7,NaN,NaN,NaN,NaN,NaN,117.8,52.6,237.2,NaN,39.2,232630.0,0.0,232630.0
7,ID1008,8,NaN,NaN,NaN,NaN,NaN,20.4,105.6,183.8,159.0,34.8,255710.0,0.0,255710.0
8,ID1008,9,NaN,NaN,NaN,NaN,NaN,56.0,185.4,NaN,59.0,197.6,239730.0,0.0,239730.0
9,ID1008,10,NaN,NaN,NaN,NaN,NaN,185.6,120.4,88.8,70.0,35.6,248620.0,0.0,248620.0
10,ID1008,11,NaN,NaN,NaN,NaN,NaN,36.2,225.0,NaN,141.4,172.4,276250.0,0.0,276250.0
11,ID1008,12,NaN,NaN,NaN,NaN,NaN,235.0,154.6,40.0,79.8,148.6,323270.0,0.0,323270.0
12,ID1012,1,44.0,31.0,52.0,70.0,NaN,NaN,NaN,NaN,NaN,NaN,216700.0,216700.0,0.0
13,ID1012,2,48.0,31.0,90.0,88.0,99.0,NaN,NaN,NaN,NaN,NaN,392100.0,392100.0,0.0
14,ID1012,3,75.0,88.0,24.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,235400.0,235400.0,0.0
15,ID1012,4,28.0,36.0,73.0,95.0,60.0,NaN,NaN,NaN,NaN,NaN,318150.0,318150.0,0.0
16,ID1012,5,41.0,82.0,86.0,23.0,53.0,NaN,NaN,NaN,NaN,NaN,319600.0,319600.0,0.0
17,ID1012,6,45.0,97.0,34.0,22.0,88.0,NaN,NaN,NaN,NaN,NaN,318600.0,318600.0,0.0
18,ID1012,7,55.0,86.0,87.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,337650.0,337650.0,0.0
19,ID1012,8,91.0,77.0,87.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN,357950.0,357950.0,0.0

In [ ]:
sales_df1=df_total_volume_pivot.fillna(0)

sales_df1["Total_Volume_week"] = sales_df1.loc[:,"BP1":"IP5"].sum(axis=1)

print(sales_df1)

      Outlet_ID  week    BP1    BP2    BP3    BP4    BP5    IP1    IP2    IP3  \
0        ID1008     1    0.0    0.0    0.0    0.0    0.0   83.2  218.4  184.2
1        ID1008     2    0.0    0.0    0.0    0.0    0.0  239.6   80.8  141.4
2        ID1008     3    0.0    0.0    0.0    0.0    0.0  218.4   65.0  134.0
3        ID1008     4    0.0    0.0    0.0    0.0    0.0  142.2   38.2  122.0
4        ID1008     5    0.0    0.0    0.0    0.0    0.0   27.2   26.6   98.4
...         ...   ...    ...    ...    ...    ...    ...    ...    ...    ...
11407    ID9980     8  241.0  165.0  245.0  246.0   28.0  224.6    0.0  127.2
11408    ID9980     9  348.0  149.0  173.0   88.0  276.0  166.8  251.2   48.2
11409    ID9980    10  281.0  158.0  140.0   36.0  199.0   79.6  152.6    0.0
11410    ID9980    11  163.0  105.0  203.0  314.0  132.0  247.6  218.4  116.4
11411    ID9980    12  303.0  145.0  381.0  317.0  100.0   83.0   25.2   21.4

         IP4    IP5  total_price  Total_bulk_price_week  \
0      150.4  161.8     397290.0                    0.0
1       77.8  119.0     332330.0                    0.0
2      136.6  164.0     362450.0                    0.0
3      159.6   76.2     273290.0                    0.0
4      152.2    0.0     155790.0                    0.0
...      ...    ...          ...                    ...
11407  125.0  233.2    1390610.0              1029250.0
11408    0.0  217.8    1503900.0              1172050.0
11409  221.0  207.6    1249670.0               926900.0
11410  258.6   38.6    1438450.0              1003750.0
11411   26.4  113.4    1522760.0              1388250.0

       Total_impulse_price_week  Total_Volume_week
0                      397290.0              798.0
1                      332330.0              658.6
2                      362450.0              718.0
3                      273290.0              538.2
4                      155790.0              304.4
...                         ...                ...
11407                  361360.0             1635.0
11408                  331850.0             1718.0
11409                  322770.0             1474.8
11410                  434700.0             1796.6
11411                  134510.0             1515.4

[11412 rows x 16 columns]

In [ ]:
sales_df1["Total_Bulk_Volume_week"] = sales_df1.loc[:,"BP1":"BP5"].sum(axis=1)
sales_df1["Total_Impulse_Volume_week"] = sales_df1.loc[:,"IP1":"IP5"].sum(axis=1)
sales_df1.head()

,Outlet_ID,week,BP1,BP2,BP3,BP4,BP5,IP1,IP2,IP3,IP4,IP5,total_price,Total_bulk_price_week,Total_impulse_price_week,Total_Volume_week,Total_Bulk_Volume_week,Total_Impulse_Volume_week
0,ID1008,1,0.0,0.0,0.0,0.0,0.0,83.2,218.4,184.2,150.4,161.8,397290.0,0.0,397290.0,798.0,0.0,798.0
1,ID1008,2,0.0,0.0,0.0,0.0,0.0,239.6,80.8,141.4,77.8,119.0,332330.0,0.0,332330.0,658.6,0.0,658.6
2,ID1008,3,0.0,0.0,0.0,0.0,0.0,218.4,65.0,134.0,136.6,164.0,362450.0,0.0,362450.0,718.0,0.0,718.0
3,ID1008,4,0.0,0.0,0.0,0.0,0.0,142.2,38.2,122.0,159.6,76.2,273290.0,0.0,273290.0,538.2,0.0,538.2
4,ID1008,5,0.0,0.0,0.0,0.0,0.0,27.2,26.6,98.4,152.2,0.0,155790.0,0.0,155790.0,304.4,0.0,304.4

In [ ]:
sales_grouped1 = sales_df1.groupby(["Outlet_ID"]).sum()
print(sales_grouped1)

           week     BP1     BP2     BP3     BP4     BP5     IP1     IP2  \
Outlet_ID
ID1008       78     0.0     0.0     0.0     0.0     0.0  1394.0  1441.2
ID1012       78   636.0   713.0   795.0   572.0   559.0     0.0     0.0
ID1024       78  1703.0  1251.0  1150.0  1388.0  1451.0     0.0     0.0
ID1029       78  1659.0  2190.0  1891.0  1513.0  1109.0  1833.2  1515.4
ID1036       78   567.0   583.0   725.0   564.0   722.0   986.8  1141.6
...         ...     ...     ...     ...     ...     ...     ...     ...
ID9960       78  1815.0  1878.0  1359.0  1958.0  2257.0  1428.4  1224.6
ID9971       78     0.0     0.0     0.0     0.0     0.0  1278.0  1356.8
ID9973       78  1411.0  1970.0  2001.0  1317.0  1870.0  1468.2  1294.6
ID9979       78     0.0     0.0     0.0     0.0     0.0  1119.2  1474.4
ID9980       78  2462.0  2094.0  2374.0  2435.0  1871.0  1242.4  1577.6

              IP3     IP4     IP5  total_price  Total_bulk_price_week  \
Outlet_ID
ID1008     1257.0  1297.2  1211.0    3290990.0                    0.0
ID1012        0.0     0.0     0.0    3648650.0              3648650.0
ID1024        0.0     0.0     0.0    7726300.0              7726300.0
ID1029     1831.6  1592.2  1383.6   13401160.0              9307350.0
ID1036     1240.0  1105.2  1167.0    6338870.0              3513650.0
...           ...     ...     ...          ...                    ...
ID9960     1761.8  1139.8  2265.6   14184310.0             10247350.0
ID9971     1557.2  1832.4  1272.2    3658320.0                    0.0
ID9973     1618.2  1970.0  1548.8   13501430.0              9535350.0
ID9979     1256.6  1148.0  1380.2    3178310.0                    0.0
ID9980      999.8  1874.0  1798.0   16198010.0             12481000.0

           Total_impulse_price_week  Total_Volume_week  \
Outlet_ID
ID1008                    3290990.0             6600.4
ID1012                          0.0             3275.0
ID1024                          0.0             6943.0
ID1029                    4093810.0            16518.0
ID1036                    2825220.0             8801.6
...                             ...                ...
ID9960                    3936960.0            17087.2
ID9971                    3658320.0             7296.6
ID9973                    3966080.0            16468.8
ID9979                    3178310.0             6378.4
ID9980                    3717010.0            18727.8

           Total_Bulk_Volume_week  Total_Impulse_Volume_week
Outlet_ID
ID1008                        0.0                     6600.4
ID1012                     3275.0                        0.0
ID1024                     6943.0                        0.0
ID1029                     8362.0                     8156.0
ID1036                     3161.0                     5640.6
...                           ...                        ...
ID9960                     9267.0                     7820.2
ID9971                        0.0                     7296.6
ID9973                     8569.0                     7899.8
ID9979                        0.0                     6378.4
ID9980                    11236.0                     7491.8

[951 rows x 17 columns]

In [ ]:
sales_grouped1.drop(["week"],inplace = True,axis=1)

In [ ]:
print(sales_grouped1)

              BP1     BP2     BP3     BP4     BP5     IP1     IP2     IP3  \
Outlet_ID
ID1008        0.0     0.0     0.0     0.0     0.0  1394.0  1441.2  1257.0
ID1012      636.0   713.0   795.0   572.0   559.0     0.0     0.0     0.0
ID1024     1703.0  1251.0  1150.0  1388.0  1451.0     0.0     0.0     0.0
ID1029     1659.0  2190.0  1891.0  1513.0  1109.0  1833.2  1515.4  1831.6
ID1036      567.0   583.0   725.0   564.0   722.0   986.8  1141.6  1240.0
...           ...     ...     ...     ...     ...     ...     ...     ...
ID9960     1815.0  1878.0  1359.0  1958.0  2257.0  1428.4  1224.6  1761.8
ID9971        0.0     0.0     0.0     0.0     0.0  1278.0  1356.8  1557.2
ID9973     1411.0  1970.0  2001.0  1317.0  1870.0  1468.2  1294.6  1618.2
ID9979        0.0     0.0     0.0     0.0     0.0  1119.2  1474.4  1256.6
ID9980     2462.0  2094.0  2374.0  2435.0  1871.0  1242.4  1577.6   999.8

              IP4     IP5  total_price  Total_bulk_price_week  \
Outlet_ID
ID1008     1297.2  1211.0    3290990.0                    0.0
ID1012        0.0     0.0    3648650.0              3648650.0
ID1024        0.0     0.0    7726300.0              7726300.0
ID1029     1592.2  1383.6   13401160.0              9307350.0
ID1036     1105.2  1167.0    6338870.0              3513650.0
...           ...     ...          ...                    ...
ID9960     1139.8  2265.6   14184310.0             10247350.0
ID9971     1832.4  1272.2    3658320.0                    0.0
ID9973     1970.0  1548.8   13501430.0              9535350.0
ID9979     1148.0  1380.2    3178310.0                    0.0
ID9980     1874.0  1798.0   16198010.0             12481000.0

           Total_impulse_price_week  Total_Volume_week  \
Outlet_ID
ID1008                    3290990.0             6600.4
ID1012                          0.0             3275.0
ID1024                          0.0             6943.0
ID1029                    4093810.0            16518.0
ID1036                    2825220.0             8801.6
...                             ...                ...
ID9960                    3936960.0            17087.2
ID9971                    3658320.0             7296.6
ID9973                    3966080.0            16468.8
ID9979                    3178310.0             6378.4
ID9980                    3717010.0            18727.8

           Total_Bulk_Volume_week  Total_Impulse_Volume_week
Outlet_ID
ID1008                        0.0                     6600.4
ID1012                     3275.0                        0.0
ID1024                     6943.0                        0.0
ID1029                     8362.0                     8156.0
ID1036                     3161.0                     5640.6
...                           ...                        ...
ID9960                     9267.0                     7820.2
ID9971                        0.0                     7296.6
ID9973                     8569.0                     7899.8
ID9979                        0.0                     6378.4
ID9980                    11236.0                     7491.8

[951 rows x 16 columns]

In [ ]:
# sales_grouped1 = sales_grouped1.merge(outlet,on = 'Outlet_ID')

In [ ]:
print(sales_grouped1)

              BP1     BP2     BP3     BP4     BP5     IP1     IP2     IP3  \
Outlet_ID
ID1008        0.0     0.0     0.0     0.0     0.0  1394.0  1441.2  1257.0
ID1012      636.0   713.0   795.0   572.0   559.0     0.0     0.0     0.0
ID1024     1703.0  1251.0  1150.0  1388.0  1451.0     0.0     0.0     0.0
ID1029     1659.0  2190.0  1891.0  1513.0  1109.0  1833.2  1515.4  1831.6
ID1036      567.0   583.0   725.0   564.0   722.0   986.8  1141.6  1240.0
...           ...     ...     ...     ...     ...     ...     ...     ...
ID9960     1815.0  1878.0  1359.0  1958.0  2257.0  1428.4  1224.6  1761.8
ID9971        0.0     0.0     0.0     0.0     0.0  1278.0  1356.8  1557.2
ID9973     1411.0  1970.0  2001.0  1317.0  1870.0  1468.2  1294.6  1618.2
ID9979        0.0     0.0     0.0     0.0     0.0  1119.2  1474.4  1256.6
ID9980     2462.0  2094.0  2374.0  2435.0  1871.0  1242.4  1577.6   999.8

              IP4     IP5  total_price  Total_bulk_price_week  \
Outlet_ID
ID1008     1297.2  1211.0    3290990.0                    0.0
ID1012        0.0     0.0    3648650.0              3648650.0
ID1024        0.0     0.0    7726300.0              7726300.0
ID1029     1592.2  1383.6   13401160.0              9307350.0
ID1036     1105.2  1167.0    6338870.0              3513650.0
...           ...     ...          ...                    ...
ID9960     1139.8  2265.6   14184310.0             10247350.0
ID9971     1832.4  1272.2    3658320.0                    0.0
ID9973     1970.0  1548.8   13501430.0              9535350.0
ID9979     1148.0  1380.2    3178310.0                    0.0
ID9980     1874.0  1798.0   16198010.0             12481000.0

           Total_impulse_price_week  Total_Volume_week  \
Outlet_ID
ID1008                    3290990.0             6600.4
ID1012                          0.0             3275.0
ID1024                          0.0             6943.0
ID1029                    4093810.0            16518.0
ID1036                    2825220.0             8801.6
...                             ...                ...
ID9960                    3936960.0            17087.2
ID9971                    3658320.0             7296.6
ID9973                    3966080.0            16468.8
ID9979                    3178310.0             6378.4
ID9980                    3717010.0            18727.8

           Total_Bulk_Volume_week  Total_Impulse_Volume_week
Outlet_ID
ID1008                        0.0                     6600.4
ID1012                     3275.0                        0.0
ID1024                     6943.0                        0.0
ID1029                     8362.0                     8156.0
ID1036                     3161.0                     5640.6
...                           ...                        ...
ID9960                     9267.0                     7820.2
ID9971                        0.0                     7296.6
ID9973                     8569.0                     7899.8
ID9979                        0.0                     6378.4
ID9980                    11236.0                     7491.8

[951 rows x 16 columns]

In [ ]:
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

# extract the features
X = sales_grouped1[['BP1'    , 'BP2'     ,'BP3'     ,'BP4'     ,'BP5'    , 'IP1'     ,'IP2'     ,'IP3'  ,'IP4'     ,'IP5' , 'total_price' , 'Total_Volume_week' ,'Total_bulk_price_week'	,'Total_impulse_price_week' ,'Total_Bulk_Volume_week'  ,'Total_Impulse_Volume_week' ]]

# define the number of clusters
n_clusters = 5

# instantiate the KMeans model
kmeans = KMeans(n_clusters=n_clusters, random_state=42)

# fit the model to the data
kmeans.fit(X)

# predict the cluster labels for each outlet ID
sales_grouped1['cluster'] = kmeans.predict(X)

sales_grouped1.head(20)

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

,BP1,BP2,BP3,BP4,BP5,IP1,IP2,IP3,IP4,IP5,total_price,Total_bulk_price_week,Total_impulse_price_week,Total_Volume_week,Total_Bulk_Volume_week,Total_Impulse_Volume_week,cluster
Outlet_ID,,,,,,,,,,,,,,,,,
ID1008,0.0,0.0,0.0,0.0,0.0,1394.0,1441.2,1257.0,1297.2,1211.0,3290990.0,0.0,3290990.0,6600.4,0.0,6600.4,2
ID1012,636.0,713.0,795.0,572.0,559.0,0.0,0.0,0.0,0.0,0.0,3648650.0,3648650.0,0.0,3275.0,3275.0,0.0,0
ID1024,1703.0,1251.0,1150.0,1388.0,1451.0,0.0,0.0,0.0,0.0,0.0,7726300.0,7726300.0,0.0,6943.0,6943.0,0.0,3
ID1029,1659.0,2190.0,1891.0,1513.0,1109.0,1833.2,1515.4,1831.6,1592.2,1383.6,13401160.0,9307350.0,4093810.0,16518.0,8362.0,8156.0,4
ID1036,567.0,583.0,725.0,564.0,722.0,986.8,1141.6,1240.0,1105.2,1167.0,6338870.0,3513650.0,2825220.0,8801.6,3161.0,5640.6,0
ID1043,1955.0,1737.0,1656.0,1366.0,1493.0,1810.8,1571.2,1605.2,1706.4,1764.4,13400100.0,9169400.0,4230700.0,16665.0,8207.0,8458.0,4
ID1072,0.0,0.0,0.0,0.0,0.0,1115.6,954.8,894.2,600.6,657.8,2108470.0,0.0,2108470.0,4223.0,0.0,4223.0,2
ID1083,0.0,0.0,0.0,0.0,0.0,994.0,1344.0,1658.6,1322.2,1421.4,3385830.0,0.0,3385830.0,6740.2,0.0,6740.2,2
ID1093,1723.0,1608.0,1879.0,1151.0,1839.0,1878.6,1457.4,1994.8,1645.2,1138.6,13255320.0,9171150.0,4084170.0,16314.6,8200.0,8114.6,4
ID1097,0.0,0.0,0.0,0.0,0.0,798.4,1388.0,1052.8,1256.6,1447.2,2954740.0,0.0,2954740.0,5943.0,0.0,5943.0,2
ID1110,0.0,0.0,0.0,0.0,0.0,1341.4,1006.4,1413.6,1533.4,1304.6,3320060.0,0.0,3320060.0,6599.4,0.0,6599.4,2
ID1125,535.0,569.0,654.0,550.0,562.0,1090.0,1188.6,810.6,1215.6,1171.4,5907400.0,3188200.0,2719200.0,8346.2,2870.0,5476.2,0
ID1134,760.0,573.0,726.0,722.0,750.0,0.0,0.0,0.0,0.0,0.0,3924200.0,3924200.0,0.0,3531.0,3531.0,0.0,0
ID1136,1716.0,1817.0,1935.0,1864.0,2141.0,1868.0,1870.0,1551.6,1641.4,1210.4,14557030.0,10502250.0,4054780.0,17614.4,9473.0,8141.4,4
ID1137,1016.0,1405.0,1204.0,1359.0,1168.0,0.0,0.0,0.0,0.0,0.0,6793100.0,6793100.0,0.0,6152.0,6152.0,0.0,3
ID1143,574.0,546.0,618.0,693.0,699.0,1163.0,1051.6,1059.8,1132.4,1221.0,6276310.0,3462000.0,2814310.0,8757.8,3130.0,5627.8,0
ID1150,0.0,0.0,0.0,0.0,0.0,1280.2,1733.2,1475.6,1262.2,1390.4,3557920.0,0.0,3557920.0,7141.6,0.0,7141.6,2
ID1193,2076.0,1702.0,1858.0,1607.0,2375.0,1779.2,2046.4,1854.0,2047.4,1723.4,15435180.0,10719600.0,4715580.0,19068.4,9618.0,9450.4,4
ID1202,1936.0,1758.0,2182.0,1679.0,2232.0,1835.8,2330.2,1416.0,1608.8,2104.6,15502490.0,10900500.0,4601990.0,19082.4,9787.0,9295.4,4
ID1210,519.0,532.0,664.0,608.0,677.0,949.0,1404.0,1102.0,1049.2,1022.6,6072600.0,3324300.0,2748300.0,8526.8,3000.0,5526.8,0

In [ ]:
sales_grouped1['cluster'].unique()

array([2, 0, 3, 4, 1], dtype=int32)

In [ ]:
# create an empty dictionary to store the dataframes
cluster_dfs = {}

# iterate over each cluster value
for cluster in range(5):
    # filter the dataframe by the current cluster value
    cluster_df =sales_grouped1[sales_grouped1['cluster'] == cluster]
    
    # add the cluster dataframe to the dictionary
    cluster_dfs[f'cluster_{cluster}'] = cluster_df

# access the dataframe for cluster 0
cluster_0_df = cluster_dfs['cluster_0']
cluster_1_df = cluster_dfs['cluster_1']
cluster_2_df = cluster_dfs['cluster_2']
cluster_3_df = cluster_dfs['cluster_3']
cluster_4_df = cluster_dfs['cluster_4']

Mean for each cluster

In [ ]:
list1=[]
list_price=[]
for key in cluster_dfs:
  list1.append(cluster_dfs[key]["Total_Volume_week"].mean()/(12*7))
  list_price.append(cluster_dfs[key]["total_price"].mean()/(cluster_dfs[key]["Total_Volume_week"].mean()*(12*7)))

print(list1)  
print(list_price)

[77.50776764606552, 312.62813852813855, 74.34321175278622, 81.35445526695527, 209.03252551020407]
[9.451722392242946, 9.745765718922527, 5.953422462383067, 13.134940818040977, 9.634065317908524]

Calculating Inertia

In [ ]:
inertia = kmeans.inertia_
inertia

2655664411813627.0

calculating the silhoutte coefficient

In [ ]:
from sklearn.metrics import silhouette_score

# select features for clustering
X = sales_grouped1[['BP1'    , 'BP2'     ,'BP3'     ,'BP4'     ,'BP5'    , 'IP1'     ,'IP2'     ,'IP3'  ,'IP4'     ,'IP5' , 'total_price' , 'Total_Volume_week' ,'Total_bulk_price_week'	,'Total_impulse_price_week' ,'Total_Bulk_Volume_week'  ,'Total_Impulse_Volume_week' ]]

# set number of clusters to evaluate
k_values = range(2, 10)

# calculate Silhouette Coefficient for each k value
for k in k_values:
    kmeans = KMeans(n_clusters=k, random_state=42)
    cluster_labels = kmeans.fit_predict(X)
    silhouette_avg = silhouette_score(X, cluster_labels)
    print(f"Silhouette Coefficient for k={k}: {silhouette_avg:.3f}")

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

Silhouette Coefficient for k=2: 0.686
Silhouette Coefficient for k=3: 0.628
Silhouette Coefficient for k=4: 0.698

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

Silhouette Coefficient for k=5: 0.710

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

Silhouette Coefficient for k=6: 0.780

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

Silhouette Coefficient for k=7: 0.772
Silhouette Coefficient for k=8: 0.683

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

Silhouette Coefficient for k=9: 0.696

Calculating the Davis_bouldin Index

In [ ]:
from sklearn.metrics import davies_bouldin_score

# perform K-means clustering with k=4
kmeans = KMeans(n_clusters=5, random_state=42).fit(X)

# calculate Davies-Bouldin Index
dbi = davies_bouldin_score(X, kmeans.labels_)

print("Davies-Bouldin Index:", dbi)

Davies-Bouldin Index: 0.5898210547793963

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

Calculating the Calinski-Harabasz Index

In [ ]:
from sklearn.metrics import calinski_harabasz_score

# initialize k-means clustering with 3 clusters
kmeans = KMeans(n_clusters=5, random_state=42)

# fit k-means model on the data
kmeans.fit(X)

# calculate Calinski-Harabasz Index
ch_score = calinski_harabasz_score(X, kmeans.labels_)

print("Calinski-Harabasz Index:", ch_score)

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

Calinski-Harabasz Index: 3667.0851276693384

In [ ]:
cluster_1_df

,BP1,BP2,BP3,BP4,BP5,IP1,IP2,IP3,IP4,IP5,total_price,Total_bulk_price_week,Total_impulse_price_week,Total_Volume_week,Total_Bulk_Volume_week,Total_Impulse_Volume_week,cluster
Outlet_ID,,,,,,,,,,,,,,,,,
ID1485,3250.0,2955.0,2958.0,3375.0,2997.0,1943.4,2164.0,1393.0,1753.4,1701.8,21663150.0,17223900.0,4439250.0,24490.6,15535.0,8955.6,1
ID1543,2600.0,2054.0,2628.0,2718.0,2718.0,1944.8,1218.4,1619.2,1445.0,2197.0,18341640.0,14109400.0,4232240.0,21142.4,12718.0,8424.4,1
ID2074,2312.0,1973.0,2687.0,2784.0,2442.0,3065.0,2202.6,2339.6,3633.6,2999.2,20631800.0,13504950.0,7126850.0,26438.0,12198.0,14240.0,1
ID2170,2880.0,3503.0,3448.0,2747.0,2572.0,1636.8,1587.4,1653.2,1443.6,1399.6,20714290.0,16850700.0,3863590.0,22870.6,15150.0,7720.6,1
ID3549,2110.0,2064.0,2381.0,2986.0,2823.0,1804.6,1948.0,1731.0,1192.0,2001.4,17959500.0,13631850.0,4327650.0,21041.0,12364.0,8677.0,1
ID3946,1696.0,1611.0,1885.0,1751.0,2520.0,3148.0,3050.4,3354.8,3389.0,3651.4,18810070.0,10498050.0,8312020.0,26056.6,9463.0,16593.6,1
ID3985,2214.0,2440.0,2319.0,2079.0,2419.0,3286.6,2081.8,3438.6,3036.6,2481.8,19978090.0,12747550.0,7230540.0,25796.4,11471.0,14325.4,1
ID4015,4328.0,4843.0,4765.0,4561.0,5161.0,3505.6,3675.6,3383.2,3030.0,3507.6,34775130.0,26238750.0,8536380.0,40760.0,23658.0,17102.0,1
ID5913,2152.0,3316.0,1968.0,2269.0,1627.0,3117.0,2575.2,2962.6,2582.0,2469.0,19424170.0,12551900.0,6872270.0,25037.8,11332.0,13705.8,1
ID6574,3047.0,3191.0,2147.0,2582.0,3175.0,1356.6,2251.2,1404.0,1592.4,1322.8,19631190.0,15710050.0,3921140.0,22069.0,14142.0,7927.0,1
ID7029,2347.0,2044.0,2039.0,2293.0,2395.0,3070.0,2482.2,2925.4,2524.2,2861.2,19290810.0,12337150.0,6953660.0,24981.0,11118.0,13863.0,1
ID7137,3684.0,3911.0,3769.0,3618.0,3905.0,2649.6,3977.4,2684.0,4077.2,3064.0,29132180.0,20970750.0,8161430.0,35339.2,18887.0,16452.2,1
ID7358,2499.0,2511.0,2355.0,2504.0,2044.0,2890.2,2946.0,2374.6,2506.8,3580.2,20341880.0,13221550.0,7120330.0,26210.8,11913.0,14297.8,1
ID7799,2345.0,2384.0,2031.0,2305.0,1990.0,2551.0,2341.2,2844.2,2337.2,2729.0,18692500.0,12266050.0,6426450.0,23857.6,11055.0,12802.6,1
ID7948,2563.0,2472.0,2404.0,2123.0,2199.0,2211.6,2955.6,2967.4,2363.4,2769.2,19735490.0,13101300.0,6634190.0,25028.2,11761.0,13267.2,1
ID8229,2766.0,2281.0,2082.0,2226.0,1844.0,2633.2,2306.6,2452.6,3028.4,2819.6,19104500.0,12477000.0,6627500.0,24439.4,11199.0,13240.4,1
ID8564,2616.0,2769.0,2454.0,2065.0,2391.0,1243.4,1499.4,1650.0,1811.0,1560.6,17592030.0,13702300.0,3889730.0,20059.4,12295.0,7764.4,1
ID9160,3790.0,3455.0,2575.0,3114.0,3361.0,3122.4,3645.4,4013.4,2651.4,3703.4,26707250.0,18120850.0,8586400.0,33431.0,16295.0,17136.0,1
ID9465,2376.0,2856.0,2366.0,2521.0,2130.0,1970.2,2231.2,1446.6,1850.2,2177.2,18376170.0,13577700.0,4798470.0,21924.4,12249.0,9675.4,1
ID9541,2426.0,2778.0,2163.0,2618.0,2732.0,2423.2,2567.8,2834.2,2365.2,2367.6,20369970.0,14077650.0,6292320.0,25275.0,12717.0,12558.0,1
ID9672,2873.0,3212.0,3686.0,2872.0,3334.0,2173.8,2267.4,2230.4,2020.4,1756.0,22981250.0,17759100.0,5222150.0,26425.0,15977.0,10448.0,1
ID9876,4088.0,3876.0,3094.0,4172.0,3135.0,3144.8,3548.0,3765.8,2771.6,3468.2,28707890.0,20347800.0,8360090.0,35063.4,18365.0,16698.4,1

In [ ]:
freezer.head()

,Freezer Name,Model Number,Volume Capacity (Liters),Power and maitainance Cost (LKR) per 100 hours
0,ChillMaster,M001,55,2500
1,FreezeZone,M002,75,2800
2,CoolTech,M003,120,3200
3,mini CoolTech,M004,30,1800
4,IceBlast Pro,M005,150,3500

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
freezer[['Volume Capacity (Liters)_normalized'	,'Power and maitainance Cost (LKR) per 100 hours_normalized']] = scaler.fit_transform(freezer[['Volume Capacity (Liters)'	,'Power and maitainance Cost (LKR) per 100 hours']])
freezer

,Freezer Name,Model Number,Volume Capacity (Liters),Power and maitainance Cost (LKR) per 100 hours,Volume Capacity (Liters)_normalized,Power and maitainance Cost (LKR) per 100 hours_normalized
0,ChillMaster,M001,55,2500,0.171429,0.310345
1,FreezeZone,M002,75,2800,0.285714,0.413793
2,CoolTech,M003,120,3200,0.542857,0.551724
3,mini CoolTech,M004,30,1800,0.028571,0.068966
4,IceBlast Pro,M005,150,3500,0.714286,0.655172
5,IceBlast,M006,65,2700,0.228571,0.379310
6,FreezeTech,M007,100,3000,0.428571,0.482759
7,FreezeTech 3.0,M008,25,1600,0.000000,0.000000
8,ChillTech,M009,80,2800,0.314286,0.413793
9,IceTech,M010,200,4500,1.000000,1.000000

In [ ]:
volume_capacity_list = freezer["Volume Capacity (Liters)"].tolist()
power_maintainance_list = freezer["Power and maitainance Cost (LKR) per 100 hours"].tolist()
freezer_name_list = freezer["Freezer Name"].tolist()

In [ ]:

def allocate_freezer(list1,list_price,volume,power,freezer_name_list):
  for i in range(len(list1)):
    list_excess_volume_price=[]
    min=10000000
    
    for j in range(len(volume)):
      if volume[j] > list1[i]:
        excess_volume_price=(list1[i]-volume[j])*list_price[i] + power[j]
      else:
        excess_volume_price = power[j]
      if(min>excess_volume_price):
        min=excess_volume_price
        freezer_name=freezer_name_list[j]
    print("Suitable freezer for the cluster ",i," is ",freezer_name)

In [ ]:
allocate_freezer(list1,list_price,volume_capacity_list,power_maintainance_list,freezer_name_list)

Suitable freezer for the cluster  0  is  FreezeTech 3.0
Suitable freezer for the cluster  1  is  FreezeTech 3.0
Suitable freezer for the cluster  2  is  FreezeTech 3.0
Suitable freezer for the cluster  3  is  FreezeTech 3.0
Suitable freezer for the cluster  4  is  FreezeTech 3.0

In [ ]:
cluster_1_df=cal_price_unit_volume(cluster_1_df)
cluster_2_df=cal_price_unit_volume(cluster_2_df)
cluster_3_df=cal_price_unit_volume(cluster_3_df)
cluster_4_df=cal_price_unit_volume(cluster_4_df)
cluster_0_df=cal_price_unit_volume(cluster_0_df)

<ipython-input-208-73532ab79dd0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["price_unit_volume"] = df["total_price"]/df["Total_Volume_week"]
<ipython-input-208-73532ab79dd0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["price_unit_volume"] = df["total_price"]/df["Total_Volume_week"]
<ipython-input-208-73532ab79dd0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["price_unit_volume"] = df["total_price"]/df["Total_Volume_week"]
<ipython-input-208-73532ab79dd0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["price_unit_volume"] = df["total_price"]/df["Total_Volume_week"]
<ipython-input-208-73532ab79dd0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["price_unit_volume"] = df["total_price"]/df["Total_Volume_week"]

In [ ]:
mean0 =cluster_0_df["price_unit_volume"].mean()
mean1 =cluster_1_df["price_unit_volume"].mean()
mean2 =cluster_2_df["price_unit_volume"].mean()
mean3 =cluster_3_df["price_unit_volume"].mean()
mean4 =cluster_4_df["price_unit_volume"].mean()

In [ ]:
freezer["cluster_0_ROI"] = (freezer["Volume Capacity (Liters)_normalized"]*mean0)/(freezer["Power and maitainance Cost (LKR) per 100 hours"]+freezer["Volume Capacity (Liters)_normalized"])
freezer["cluster_1_ROI"] = (freezer["Volume Capacity (Liters)_normalized"]*mean1)/(freezer["Power and maitainance Cost (LKR) per 100 hours"]+freezer["Volume Capacity (Liters)_normalized"])
freezer["cluster_2_ROI"] = (freezer["Volume Capacity (Liters)_normalized"]*mean2)/(freezer["Power and maitainance Cost (LKR) per 100 hours"]+freezer["Volume Capacity (Liters)_normalized"])
freezer["cluster_3_ROI"] = (freezer["Volume Capacity (Liters)_normalized"]*mean3)/(freezer["Power and maitainance Cost (LKR) per 100 hours"]+freezer["Volume Capacity (Liters)_normalized"])
freezer["cluster_4_ROI"] = (freezer["Volume Capacity (Liters)_normalized"]*mean4)/(freezer["Power and maitainance Cost (LKR) per 100 hours"]+freezer["Volume Capacity (Liters)_normalized"])

In [ ]:
freezer

,Freezer Name,Model Number,Volume Capacity (Liters),Power and maitainance Cost (LKR) per 100 hours,Volume Capacity (Liters)_normalized,cluster_0_ROI,cluster_1_ROI,cluster_2_ROI,cluster_3_ROI,cluster_4_ROI
0,ChillMaster,M001,55,0.310345,0.171429,307.104000,291.801266,177.927234,393.615563,288.110650
1,FreezeZone,M002,75,0.413793,0.285714,352.520789,334.954975,204.240417,451.826315,330.718563
2,CoolTech,M003,120,0.551724,0.542857,428.038294,406.709506,247.993089,548.617191,401.565564
3,mini CoolTech,M004,30,0.068966,0.028571,252.817939,240.220235,146.475450,324.037054,237.182000
4,IceBlast Pro,M005,150,0.655172,0.714286,450.161439,427.730274,260.810604,576.972453,422.320467
5,IceBlast,M006,65,0.379310,0.228571,324.524810,308.354013,188.020351,415.943837,304.454042
6,FreezeTech,M007,100,0.482759,0.428571,405.875287,385.650863,235.152480,520.210839,380.773264
7,FreezeTech 3.0,M008,25,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
8,ChillTech,M009,80,0.413793,0.314286,372.555800,353.991658,215.848127,477.505213,349.514476
9,IceTech,M010,200,1.000000,1.000000,431.534069,410.031090,250.018441,553.097731,404.845138

In [ ]:
freezer.describe()

,Volume Capacity (Liters),Power and maitainance Cost (LKR) per 100 hours,Volume Capacity (Liters)_normalized,cluster_0_ROI,cluster_1_ROI,cluster_2_ROI,cluster_3_ROI,cluster_4_ROI
count,10.000000,10.000000,10.000000,9.000000,9.000000,9.000000,9.000000,9.000000
mean,90.000000,0.427586,0.371429,369.459159,351.049320,214.054022,473.536244,346.609352
std,54.467115,0.283980,0.311241,66.080193,62.787472,38.284965,84.695062,61.993355
min,25.000000,0.000000,0.000000,252.817939,240.220235,146.475450,324.037054,237.182000
25%,57.500000,0.327586,0.185714,324.524810,308.354013,188.020351,415.943837,304.454042
50%,77.500000,0.413793,0.300000,372.555800,353.991658,215.848127,477.505213,349.514476
75%,115.000000,0.534483,0.514286,428.038294,406.709506,247.993089,548.617191,401.565564
max,200.000000,1.000000,1.000000,450.161439,427.730274,260.810604,576.972453,422.320467